.app {
  // width: 1920px;
  height: 100vh;
  overflow-x: hidden;
  background-image: url('./assets/images/background.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
